.sectionContainer{
    width: 90vw;
    margin: auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--black);
}

.sectionContainer h1{
    font-size: 35px;
    margin-bottom: 2rem;
    flex: 1;
    overflow: hidden;
}
.sectionContainer h1 span{
/*     color: var(--secondary); */
display: inline-block;
    transform: skewX(0) translateY(0);
}
.sectionContainer p{
    flex: 2;
    line-height: 1.8rem;
}
.imageHolder img{
    width: 100%;
    position: absolute;
    top: 20%;
}

.imageHolder{
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    margin-top: 4rem;
    position:relative;
}

.aboutSection{
    position: relative;
    min-height: 900px;
}

@media (min-width: 900px) {
    .sectionContainer{
        width: 80vw;
        flex-direction: row;
        margin-top: 10rem;
    }
    .sectionContainer h1{
        font-size: 55px;
        line-height: 90px;
    }
    .sectionContainer p{
        margin-left: 5rem;
    }
}