.sectionContainer{
    width: 90vw;
    margin: auto;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--black);
}

.sectionContainer h2{
    font-size: 35px;
    margin-bottom: 2rem;
    flex: 1;
    overflow: hidden;
}
.sectionContainer h2 span{
/*     color: var(--secondary); */
    display: inline-block;
    transform: skewX(0) translateY(0);
}
.sectionContainer p{
    flex: 2;
    line-height: 1.8rem;
}
.imageHolder img{
    min-width: 60%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.desktopImage{
    display: none;
}
.imageHolder{
    min-height: 400px;
    max-height: 500px;
    width: 100%;
    margin-top: 6rem;
    position: relative;
    display: flex;
}
.imageHolder:nth-of-type(2){
    align-self: flex-end;
    margin-top: 15rem;
}
.aboutSection{
    position: relative;
    min-height: 100vh;
}
.aboutImagesHolder{
    background: var(--secondary);
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
}
.largeTitle{
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
}

.largeTitle:nth-of-type(2){
    margin-right: 5vw;
    margin-left: auto;
    text-align: right;
}
.line span{
    font-weight: 900;
    opacity: 1;
}
.line{
    height: 40px;
    position: relative;
    overflow: hidden;
    height: 3rem;
}
p .line{
    height: 28px;
}
.aboutPara{
    background: #fff;
    margin-left: -4vw;
    box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.219);
    z-index: 1;
    margin-top: 3rem;
    margin-right: 2rem;
    padding: 2rem;
}
@media (min-width: 900px) {
    .sectionContainer{
        width: 80vw;
        flex-direction: row;
        padding-top: 10rem;
    }
    .sectionContainer h1{
        font-size: 55px;
        line-height: 90px;
    }
    .sectionContainer p{
        margin-left: 5rem;
    }
    .aboutDeco{
        height: 80vh;
        width: 500px;
        background: rgb(207, 241, 255);
        position: absolute;
        left:0;
        top: 0;
        z-index: -1;
    }
    .desktopImage{
        display: unset;
    }
    .mobileImage{
        display: none;
    }
  
}