.sectionContainer{
    width: 90vw;
    margin: auto;
    padding: 10rem 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    color: var(--white);
}
.sectionContainer h2 span{
    font-weight: 800;
    color: var(--secondary);
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.sectionContainer h2{
    font-size: 25px;
    flex: 1;
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 40px;
}
.sectionContainer p{
    flex: 1;
    line-height: 2rem;
    margin-right: 5rem;
    font-size: .9rem;
    margin: 2rem;
}
.imageHolder img{
    min-width: 100%;
    min-height: 100%;
    object-fit:cover;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.aboutTopHolder{
    position: relative;
    background: #050a0c;
    display: block;
}
.imageHolder{
    min-height: 500px;
    max-height: 550px;
    width: 90%;
    margin-top: 6rem;
    position: relative;
    border-radius: var(--borderRadiusDesktop);
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 50px -25px #0a4583;
    background: rgb(239, 241, 243);
}
.aboutSection{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.aboutSliderHolder{
    background: #fff;
    padding: 11rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderSwitcher{
    height: 130px;
    width: 70px;
    background: var(--main);
    position: absolute;
    right: 0;
    top: 30rem;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 20px -15px var(--main);
    cursor: pointer;
    transition: 200ms all;
    z-index: 2;
}
.sliderSwitcher:hover{
    box-shadow: 0 0px 0px 0px #fff;
    width: 73px;
    height: 133px;
}
.switchNum{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}
.switchTitle{
    font-size: 8px;
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.switchArrow{
    position: absolute;
    bottom: 5px;
    right: 10px;
    fill: #fff;
}
.switchArrow svg{
    width: 1.8rem;
    height: 1.8rem;
}
.sectionButton{
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main);
    letter-spacing: 2px;
    margin-top: 2.5rem;
    padding: 1.5rem 4rem;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    transition: 300ms color;
    cursor: pointer;
    border: 2px solid var(--main);
}
.sectionButton::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s ease-out;
  }
.sectionButton::after {
    background: var(--main);
    content: '';
    position: absolute;
    z-index: -1;
  }
  .sectionButton::after {
    height: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .sectionButton:hover:after {
    height: 100%;
  }
  .sectionButton:hover{
      color: #fff;
  }
  
.largeTitleNum{
    color: var(--secondary);
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 20px;
}
.largeTitle{
    font-size: 25px;
    color: var(--black);
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    background: #fff;
    padding: 20px;
    margin-left: -10px; 
    display: inline-block; 
}

.paragraph{
    line-height: 1.5rem;
    font-size: 13px;
    color: var(--black);
}
.paraHolder{
    display: flex;
    margin-left: -30px;
}
.line span{
    font-weight: 900;
    opacity: 1;
}
.line{
    height: 40px;
    position: relative;
    overflow: hidden;
    height: 3rem;
}
p .line{
    height: 28px;
}
.paraDeco{
    height: 4px;
    min-width: 40px;
    margin-right: 10px;
    margin-top: 5px;
    background: var(--secondary)
}
.aboutPara{
    z-index: 1;
    padding: 2rem 4rem;
    max-width: 100%;
    width: 90%;
    margin-top: -7rem;
}
.seaDeco{
    position: absolute;
    bottom:-75px;
    right:0;
    width: 70%;
    height: 150px;
    object-fit: cover;
    z-index: 1;
}
.scrolltext{
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--black);
    font-size: 6rem;
    white-space: nowrap;
    transform: translateX(50%);
}
.scrolltextHolder{
    max-width: 100%;
    display: flex;
    overflow: hidden;
}
@media (min-width: 1000px) {
    .sectionContainer{
        width: 85vw;
        flex-direction: row;
    }
    .sectionContainer h2{
        font-size: 30px;
        line-height: 50px;
        margin-top: 2rem;
    }
    .sectionContainer p{
        margin-left: 5rem;
    }
    .aboutDeco{
        height: 80vh;
        width: 500px;
        background: rgb(207, 241, 255);
        position: absolute;
        left:0;
        top: 0;
        z-index: -1;
    }
    .imageHolder{
        min-height: 700px;
        max-height: 800px;
        min-width: 400px;
        width: 30%;
    }
    .aboutSliderHolder{
        flex-direction: row;
        padding: 15rem 0;
    }
    .aboutPara{
        z-index: 1;
        padding: 2rem;
        max-width: 40%;
        margin-left: -60px;
        margin-top: 0;
    }
    .largeTitle{
        background: transparent;
        font-size: 50px;
        padding: 0;
        margin-left: 0; 
        color: var(--black);
    }
    .sliderSwitcher{
        height: 300px;
        width: 140px;
        padding: 1rem;
        box-shadow: 0 10px 50px -10px var(--main);
    }
    .sliderSwitcher:hover{
        box-shadow: 0 0px 0px 0px #fff;
        width: 145px;
        height: 305px;
    }
    .scrolltext{
        font-size: 11rem;
        font-weight: 900;
        transform: translateX(50%);
    }
    .paraHolder{
        display: flex;
        margin-left: 0;
    }
    .switchNum{
        font-size: 30px;
    }
    .switchTitle{
        font-size: 10px;
    }
    .switchArrow{
        bottom: 10px;
        right: 15px;
    }
    .paragraph{
        line-height: 1.8rem;
        font-size: 15px;
        color: var(--black);
    }
}