.blogSection{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.blogSection h1{
    font-size: 35px; 
    color: #fff;
}
.article{
    position: relative;
    cursor: pointer;
    box-shadow: 0 15px 40px -8px rgba(1, 6, 29, 0.5); 
    border-radius: var(--borderRadiusDesktop);
    overflow: hidden;
}
.article:hover .articleDetails{
    transform:translateY(-10px);
}
.article:hover .articleTooltip{
    opacity: .8;
}
.article h3{
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 1rem;
}
.articleDate{
    font-size: 7px;
    font-weight: 900;
    margin: 10px 0;
    color: var(--secondary);
    text-transform: uppercase;
    opacity: .7;
}
.articleTooltip{
    opacity: 0; 
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: 10px;
    transition: 300ms opacity;
    letter-spacing: 1px;
    text-align: center;
}
.article img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.articleDetails{
    position: absolute;
    bottom: 10px;
    z-index: 10;
    color: #fff;
    padding: 12px;
    transition: all 300ms;
}
.articleOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.4), transparent);
    z-index: 10;
}
.postArrow{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    fill: #fff;
}
.swiperContainer{
    width: 100vw;
    padding: 5rem 5vw!important;
}
.titleHolder{
    height:65vh;
    width: 45vw;
    min-width: 350px;
    position: absolute;
    left:0;
    display: flex;
    align-items: flex-start;
    z-index: 1; 
}
.titleHolder h2{
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--black);
    font-size: 23px;
    z-index: 2;
    margin-left: 1rem;
}
.titleHolder img{
    height:100%;
    width: 100%;
    position: absolute;
    left:0;
    z-index: 0;
    display: none;
}
.sliderNavigation div{
    margin: 1rem;
    cursor: pointer;
}
.sliderNavigation svg{
    height: 35px;
    width: 35px;
    fill: var(--black);
}
.sliderNavigation div:first-of-type svg{
    transform: rotate(180deg);
}
.sliderNavigation{
    z-index: 2;
    position: absolute;
    bottom: -25px;
    left: 0px;
    display: none;
}

@media (min-width: 800px) {

    .titleHolder{
        align-items: center;
    }
    .titleHolder h2{
        transform: rotate(-90deg);
        z-index: 2;
        margin-left: -225px;
    }
    .article img{
        height: 500px;
    }
    .article h3{
        font-size: 15px;
    }
    .sliderNavigation{
        display: flex;
    }
    .articleTooltip{
        font-size: 10px;
    }
}

@media (min-width: 1000px) {

    .swiperContainer{
        width: 95vw;
        margin-right: -100px!important;
    }
    .titleHolder h2{
        font-size: 35px;
        margin-left: -150px;
    }
    .article h3{
        font-size: .9rem;
        line-height: 1.5rem;
    }
    .article img{
        height: 550px;
    }
    .sliderNavigation{
        display: flex;
    }
    .articleTooltip{
        font-size: 11px;
    }
    .articleDetails{
      padding: 15px;
    }
    .articleDate{
        font-size: 9px;
    }
}