.bookingSection{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(242, 243, 245);
}

.bookingStepHolder{
    background: #fff;
    height: 500px;
    width: 500px;
    border-radius: 3px;
    padding: 1rem;
}
.counterHolder{
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 3px;
    margin-bottom: 5rem;
    background: #4d6bf9;
    border-radius: 30px;
    padding: 5px;
}
.counterIcon{
    height: 3.1rem;
    width: 3.1rem;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 35px;
    cursor: pointer;
}
.countNumber{
    width: 3rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica;
    padding: 12px 0;
    border-radius: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    margin: 0 5px;
}