.bookingSection{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(242, 243, 245);
}

.bookingStepHolder{
    background: #fff;
    height: 500px;
    width: 80vw;
    border-radius: 3px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.counterHolder{
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 3px;
    background: #fff;
    border-radius: 30px;
    padding: 5px;
}
.counterIcon{
    height: 2.5rem;
    width: 2.5rem;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 35px;
    cursor: pointer;
}
.countNumber{
    width: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica;
    padding: 10px 0;
    border-radius: 10px;
    background: #fff;
    color: black;
    margin: 0 5px;
}
.ticketType{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5px;
    border-bottom: 1px solid lightgray;
}
.ticketTitle{
    font-weight: 600;
}
.ticketPrice{
    margin-top: 10px;
}
.mainButtonWizard{
    background: var(--main);
    border: none;
    font-family: inherit;
    padding: 10px 1rem;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    margin-top: auto;
    align-self: flex-end;
    cursor: pointer;
}