.eventSection{
    background: rgb(247, 248, 250);
    padding-bottom: 25rem;
}
.swiperContainer{
    max-width: 60vw;
}
.bookingDetails{
    width: 350px;
    height: fit-content; 
    background: #fff;
    position: sticky;
    top: 6rem;
    position: -webkit-sticky;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 5px 0 70px -20px rgb(221 225 228);
}
.vertical-timeline-element--work{
    box-shadow: 0 0 20px 2px black;
}
.eventHolder{
    display:flex;
    max-width: 1350px;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}
.bookingPrice{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
}
.bookingDetail{
    color: gray;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 20px 0;
    font-size: 14px;
}
.bookingDetailInfo{
    font-weight: 600;
    color: var(--black);
    font-size: 13px;
    margin: 5px 0;
}
.bookingDetailInfoTime{
    font-size: 11px;
}
.bookingButton{
    padding: 20px 50px;
    width: 100%;
    align-items: center;
    border: none;
    border: 1px solid var(--main);
    background: #fff;
    color: var(--main);
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: 1px;
    white-space: nowrap;
    font-weight: 600;
    transition: transform 300ms;
    font-size: 16px;
    margin-top: 20px;
    transition: all 130ms ease-in;
}
.bookingButton:hover{
    background: var(--main);
    color: #fff;
}
.itineraryNavigation{
    margin-top: 4rem;
    padding: 1rem 0;
    box-shadow: 0 5px 8px -10px black;
}
.itineraryNavigation a{
    padding: 16px 20px;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 2px solid #fff;
    cursor:pointer;
}
.itineraryNavigation a:hover,
.itineraryNavigation a.active{
    color: var(--main);
    border-bottom: 2px solid var(--main);
}
.itineraryPart{
    width: 100%;
    overflow-x: hidden;
    padding: 2rem;
}
.overviewGrid{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.overviewGridItemIcon{
    height: 2rem;
    width: 2rem;
    margin-right: 14px;
}
.overviewGridItem{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
}
    .eventBanner{
        height: 750px;
        display: flex; 
        align-items: center;
        justify-content: center;
        color: #fff;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    .eventImage{
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .eventItineraryHolder{
        margin-right: 1rem;
        margin-top: -150px;
        color: var(--black);
        position: relative;
        flex: 1;
        background: #fff;
        border-radius: 4px;
        max-width: 900px;
    }
    .eventHeader h1{
        font-size: 25px;
        font-weight: 600;
    }
    .headerDetails{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .headerDetails svg{
        height: 1rem;
        width: 1rem;
        fill: hsl(220, 8%, 55%);
    }
    .headerDetails p{
        line-height: unset;
        font-size: 10px!important;
        font-weight: 500;
        margin-right: 1.5rem;
        margin-left: 6px;
        margin-bottom: -4px;
        text-transform: uppercase;
        color: hsl(220, 8%, 55%);
    }
    .bookingOverview{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .bookingOverview p{
        flex: 1.5;
    }
.itineraryParagraph{
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}
.bookingRoute{
    margin-top: 2rem;
}
.bookingRoute>div{
    width: 100%;
    border-radius: 8px;
}
.itineraryPart h6{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.itineraryPart > h6{
    min-width: 100%;
}
.inclusionPart{
    margin-top: 5px;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.inclusionPartHeader{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 1rem 0;
    margin-bottom: 2rem;
}
.inclusionIcon{
    height: 2.2rem;
    width: 2.2rem;
    margin-bottom: 1rem;
}
.inclusionPart ul li{
    list-style: none;
    font-size: 14px;
    margin: 20px 5px;
    color: var(--black);
}
.inclusionPart li svg{
    margin-right: 15px;
}
.ticketCategory{
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
}
.ticketCategoryBox h6{
    font-size: 18px;
    margin-bottom: 5px;
}
.ticketPrice{
    font-size: 13px;
    margin-left: auto;
    font-weight: 500;
    text-align: right;
}
.ticketCategoryBox{
    padding: 18px;
    border: 1px solid lightgray;
    margin-top: 13px;
    position: relative;
    display: flex;
}
.ticketCategoryBoxDisabled{
    opacity: .5;
}
.ticketCategoryBoxDisabled span:not(.soldOut){
    text-decoration: line-through;
}
.ticketCategoryBox span{
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
}
.ticketCategoryBox i{
    display: block;
    font-size: 12px;
    margin-top: 8px;
    opacity: .7;
}
.soldOut{
    margin-top: 1rem;
    font-size: 14px!important;
    padding: 8px 30px;
    background: lightgray;
}
.bookTicketButton{
    padding: 10px 15px;
    margin-top: 20px;
    background: var(--main);
    border: none;
    color: #fff;
    border-radius: 3px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
    transition: 100ms all ease-out;
}

.bookTicketButton:hover{
    background: var(--mainDark);
}

@media (max-width: 1000px) {

    .eventHeader h1 {
        font-size: 20px!important;
    }
    .itineraryNavigation a{
        font-size: 12px;
    }
    .itineraryPart > h6 {
        font-size: 16px;
    }
    .overviewGrid {
        min-width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid rgb(221, 221, 221);
        border-top: 1px solid rgb(221, 221, 221);
        justify-content: space-around;
    }
    .inclusionPartHeader{
        letter-spacing: 1px;
        font-size: 12px;
    }
    .inclusionPart ul li{
        font-size: 13px;
    }
    .swiperContainer{
        max-width: 55vw;
    }
    .bookingButton,
    .bookTicketButton{
        padding: 10px 15px;
        font-size: 13px;
        letter-spacing: 0;
    }
    .bookingPrice,
    .ticketCategoryBox span,
    .ticketCategoryBox h6{
        font-size: 16px;
    }

}

@media (max-width: 850px) {
    .eventHolder{
        flex-direction: column-reverse;
        width: 93%;
    }
    .bookingDetails{
        display: none;
    }
    .eventItineraryHolder{
        margin-right: 0;
    }
    .swiperContainer{
        max-width: fit-content;
    }
    .itineraryNavigation{
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 10;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
        border-top: 1px solid rgb(238, 238, 238);
        padding: 1.2rem 0;
    }
    .itineraryNavigation a{
        font-size: 11px;
        padding: 23px 16px;
    }
    .eventBanner{
        height: 50vh;
    }
    .eventHeader{
        padding: 1.5rem;
    }
    .itineraryPart{
        padding: 1.5rem;
    }
    .itineraryNavigation a.active,
    .itineraryNavigation a:hover{
        border-top: 3px solid var(--main);
        border-bottom: none;
    }

}

@media (max-width: 700px) {
    .eventHolder{
        width: 100%;
    }
    .ticketPrice{
        min-width: 125px;
    }
  

}