.faqContainer{
    min-height: 100vh;
    padding: 6rem 1rem;
    margin-bottom: 5rem;
    background: rgb(249 250 252);
}
.faqSection{
    padding-top: 4rem;
}
.faqQuestion{
    font-weight: 500;
    font-size: 15px;
}
.faqAnswer{
    font-size: 14px;
    line-height: 20px;
}

@media (min-width: 1000px){
    .faqContainer{
        padding: 12rem;
    }
}