.footerSection{
    background: #1b1b1b;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;
}
.footerSection svg{
    position: absolute;
    top:-12rem;
    left:0;
    overflow: hidden;
    fill: #1b1b1b;
}
.sectionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.footerColumn{
    color: #fff;
    margin: 3rem;
    width: 80%;
}
.footerColumn h4{
    margin-bottom: 1rem;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.footerColumn a{
    display: block;
    opacity: .7;
    font-size: 15px;
    margin: 5px 0;
}

@media (min-width: 1000px){
    .sectionContainer{
        flex-direction: row;
    }

}



