.gallerySection{
    padding: 5px;
    padding-top:4.5rem;
    min-height: 100vh;
}
.gallerySection img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1)
}
.gallerySection img:not(:hover){
    opacity: .9;
}
.gallerySection img:hover{
    transform: scale(1.1);
}
.gritItem{
    border: 3px solid #fff;
}

@media(max-width: 800px){
    .gallerySection img:not(:hover){
        opacity: 1;
    }
    .gallerySection{
        padding-top:3.5rem;
    }
}