.gallerySection{
    overflow:hidden;
    position: relative;
}
.swiperContainer{
    width: 85vw;
    height: 500px; 
    margin-bottom: 10rem;
}

.swiperContainer img{ 
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: var(--borderRadiusDesktop);
}
 
.quoteHolder{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
}
.quoteHolder img{
    z-index: -1;
    position: absolute;
}
.imageOverlay{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 1
}
.quoteHolder svg{
    height: 50px;
    width: 50px;
    fill: var(--secondary);
    margin-bottom: 2rem;
}

.galleryQuote{
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size: 25px;
    width: 90%;
    margin: auto;
    color: #fff;
    z-index: 2;
}
.navContainer{
    width: 130%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20rem;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
.navContainer div:first-of-type svg{
    transform: rotate(180deg);
}
.navContainer svg{
    height: 50px;
    width: 150px;
    cursor: pointer;
}
.navContainer svg polyline,
.navContainer svg line{
    transition: all 300ms;
    stroke: var(--main);
    stroke-width: 1;

}

.navContainer svg:hover line,
.navContainer svg:hover polyline{   
    stroke-width: 3;
}

.sectionButton{
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 2.5rem;
    padding: 1.5rem 4rem;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    transition: 300ms color;
    cursor: pointer;
    border: 2px solid #fff;
}
.sectionButton::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s ease-out;
  }
.sectionButton::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
  }
  .sectionButton::after {
    height: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .sectionButton:hover:after {
    height: 100%;
  }
  .sectionButton:hover{
      color: var(--main);
  }
  

.buttonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
}

@media (min-width: 800px) {
    .galleryQuote{
        font-size: 45px;
    }
    .swiperContainer{
        width: 70vw;
        height: 700px; 
    }
    .navContainer div{
        display: inline-block;
    }
    .quoteHolder{
        margin-bottom: 10rem;
    }

    
}

