@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Spartan:wght@400;500;700&display=swap');


* {
    margin:0;
    padding:0;
    text-decoration: 0;
    font-family: 'Spartan', sans-serif;
}

html, body{
    min-height: 100%;
}

:root{
    /* --main: #ff7b00; */
    --main: #ff5200;
    --mainDark: #b93500;
    --secondary: #00E8FC;
    --black: rgb(22, 22, 22);
}

.sectionContent{
    width: 90vw;
    margin: auto;
    padding: 7rem 0;
}

@media (min-width: 900px) {

    .sectionContent{
        width: 80vw;
        padding: 10rem 0;
    }

}


