@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;700&family=Spartan:wght@400;500;700&display=swap');
* {
    margin:0;
    padding:0;
    text-decoration: 0;
    font-family: 'Spartan', sans-serif;
}

html, body{
    min-height: 100%;
}

:root{
    --main: #ff7b00;
    --secondary: #00E8FC;
    --black: rgb(22, 22, 22);
}


