@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');
@import url(//db.onlinewebfonts.com/c/1df7ec39ce3f151f8c44c65de49bf40c?family=Draper);
/* @font-face {
    font-family: 'Draper Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Draper Regular'), url('/Draper.woff') format('woff');
    } */

* {
    margin:0;
    padding:0;
    text-decoration: 0;
    font-family: 'Spartan', sans-serif;
}

html, body{
    min-height: 100%;
}

:root{
    /* --main: #ff7b00; */
    --main: #ff5200;
    --mainDark: #b93500;
    --secondary: #00E8FC;
    --secondaryDark: #09cadb;
    --black: #3b3b3b;
    --white: #f3f0f0;
    --lightBackground: #f5f6f6;
    --borderRadiusDesktop: 8px;

}

.sectionContent{
    width: 90vw;
    margin: auto;
    padding: 7rem 0;
}
.swiper-button-disabled{
    opacity: .3;
}
@media (min-width: 900px) {

    .sectionContent{
        width: 80vw;
        padding: 10rem 0;
    }

}


