.headerContainer{
    background-color: transparent;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.hamburger{
    width: 40px;
    height: 25px;
    position: absolute;
    right: 5vw;
    top: 30px;
    cursor:pointer;
    z-index:2;
}
.hamburger span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(255, 255, 255);
    transform: rotate(0deg);
    opacity: 1;
    right: 0;
}

.navLink{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    margin-top: 3rem;
    color: var(--black);
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: 0;
    transform: skewX(25deg) scaleY(1.5);
    font-weight: 500;
}
.navLink:last-of-type{
    color: var(--main);
    fill: var(--main);
}
.navLink:first-of-type{
    margin-top: 0;
}
.logo{
    height: 40px;
    left: 5vw;
    top: 20px;
    position: absolute;
}
.hamburger span:nth-child(1){
    top:0;
}
.hamburger span:nth-child(2){
    top:9px;
    width: 80%;
}
.hamburger span:nth-child(3){
    top:18px;
}

.socialMediaContainer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
}
.socialMediaContainer > a{
    transform: translateY(-150px);
    opacity: .4;
    height: 22px;
    display: inline-block;
}
.socialMediaContainer img{
    height: 22px;
    width: 22px;
    margin: 5px 15px;
}
.headerSocialMediaContainer{
    align-items: center;
    display: none;
}
.headerSocialMediaContainer > a{
    margin: 20px 5px;
    display: inline-block;
}
.headerSocialMediaContainer img{
    height: 20px;
    width: 20px;
}

@media (min-width: 900px) {
    .hamburger{
        display: none;
    }
    .navLink:first-of-type{
        margin-left: auto;
    }
    .navLink:last-of-type{
        display: none;
    }
    .navLink{
        transform: unset;
        min-width: unset;
        opacity: 1;
        font-size: .9rem;
        margin: 5px 15px;
        margin-top: 5px!important;
        color: white;
    }
    .navLinks{
        display: flex;
    }
    .headerSocialMediaContainer{
        display: flex;
    }
    .socialMediaContainer{
     display: none;
    }
    .headerContainer{
        justify-content: space-around;
    }
    .logo{
        position: unset;
    }

}