.headerContainer{
    background-color: transparent;
    width: 95%;
    height: 3.5rem;
    position: fixed;
    top: 11px;
    border-radius: 4px;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.hamburger{
    width: 50px;
    height: 25px;
    position: absolute;
    cursor:pointer;
    right: 1rem;
    top: 18px;
    z-index:2;
}
.hamburger span{
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: rgb(255, 255, 255);
    transform: rotate(0deg);
    opacity: 1;
    right: 0;
}
.navLink{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    margin-top: 3rem;
    color: var(--black);
    font-family: 'MuseoModerno', cursive;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
    transform: skewX(25deg);
    font-weight: 500;

}
.navLink:last-of-type{
    color: var(--main);
    fill: var(--main);
}
.navLink:first-of-type{
    margin-top: 5rem;
}
.logo{
    height: 40px;
    margin-top: 14px;
    margin-left: 10px;
}
.hamburger span:nth-child(1){
    top:0;
}
.hamburger span:nth-child(2){
    top:9px;
    width: 80%;
}
.hamburger span:nth-child(3){
    top:18px;
}

.socialMediaContainer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
}
.socialMediaContainer > a{
    transform: translateY(-150px);
    opacity: .4;
    height: 22px;
    display: inline-block;
}
.socialMediaContainer img{
    height: 22px;
    width: 22px;
    margin: 5px 15px;
}

@media (min-width: 900px) {
    .hamburger{
        display: none;
    }
}