.headerContainer {
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    text-align: right;
    background: transparent;
    color: #FFF;
}

.hamburgerHolder {
    width: 90px;
    height: 3.6rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.menuInner {
    background: #fff;
    position: fixed;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    position: relative;
    height: 21px;
    width: 45px;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    background: #fff;
    transform: rotate(0deg);
    opacity: 1;
    right: 0;
    width: 100%;
}

.navLinks {
    margin-bottom: 5rem;
    text-align: left;
}

.navLink {
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    margin-top: 3rem;
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 0;
    transform: skewX(25deg) scaleY(1.5);
}

.navLink:last-of-type {
    color: var(--main);
    fill: var(--main);
}

.navLinksDesktop {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    float: right;
    margin-right: 6rem;
}

.navLinkDesktop {
    color: inherit;
    margin: 0 1.2rem;
    font-size: 15px;
    font-weight: 600;
}

.logo {
    height: 40px;
    left: 5vw;
    top: 15px;
    position: absolute;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 9px;
}

.hamburger p {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 6px;
    letter-spacing: 4px;
    font-weight: 800;
    font-family: "Syne", sans-serif;
    color: inherit;
}

.socialMediaContainer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
}

.socialMediaContainer>a {
    transform: translateY(-150px);
    opacity: .4;
    height: 22px;
    display: inline-block;
}

.socialMediaContainer img {
    height: 22px;
    width: 22px;
    margin: 5px 15px;
}

.headerSocialMediaContainer {
    align-items: center;
    display: none;
}

.button {
    padding: 11px 25px;
    padding-bottom: 9px;
    align-items: center;
    border: none;
    background-color: var(--main);
    color: #fff;
    border-radius: var(--borderRadiusDesktop);
    white-space: nowrap;
    font-weight: 800;
    transition: all 200ms;
    font-size: 11px;
    display: inline-block;
    margin-left: 2rem;
}

.button:hover {
    transform: scale(1.02);
    background: var(--mainDark);
}

@media (max-width: 850px) {

    .button {
        padding: 8px 20px;
        font-size: 10px;
        margin-top: 2px;
    }

    .navLinksDesktop :not(:last-child) {
        display: none;
    }

    .hamburgerHolder {
        display: flex;
        height: 3.6rem;
    }

    .headerContainer {
        height: 3.6rem;
    }

    .logo {
        height: 30px;
    }

}