.landing{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 100vw;
    position:relative;
}

.button{
    margin: 20px auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    font-family: 'Righteous', cursive;
    border: none;
    background-color:var(--main);
    color: #fff;
    fill: #fff;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
}

.videoBackdrop{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.landingContent{
    color: #fff;
    text-align: center;
    z-index: 1;
    width: 85vw;
    padding: 5vw;
}

.landingContent > h1{
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
}
h1 .line span{
    font-family: 'Righteous', cursive;
}
.line{
    height: 33px;
    position: relative;
    overflow: hidden;
}
.line span{
    position: absolute;
}  
.landingParagraph{
    margin-bottom: 20px;
    line-height: 1.8rem;
    font-weight: 500;
    opacity: .8;
    text-align: left;
    width: 100%;
    display: inline-block;
}
.backdropGradient{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(65deg, rgba(58, 19, 1, 0.75), rgb(20 60 102 / 25%));
}
.svgWave{
    width: 50px;
    float: left;
    margin: 25px 0;
}

.svgWave > path{
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
}

.socialMediaContainer{
    overflow: hidden;
    display: none;
    align-items: center;
    text-align: left;
}
.socialMediaContainer > a{
    transform: translateX(150px);
    height: 25px;
    margin: 20px 5px;
    display: inline-block;
    opacity: 0;
}
.socialMediaContainer img{
    height: 25px;
    width: 25px;
}
section{
    min-height: 100vh;
}
@media (min-width: 600px) {
    .button{
        margin-left:0;
    }
    .landingContent > h1{
        font-size: 2.2rem;
    }
    .line {
        height: 2.8rem;
    }
    .landingContent{
        width: 75vw;
    }
    .socialMediaContainer{
        display: flex;
    }
   
    
}