.landing{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw; 
    position:relative;
}
.button{
    margin: 20px auto;
    padding: 15px 50px;
    align-items: center;
    border: none;
    background-color:var(--main);
    color: #fff;
    fill: #fff;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    white-space: nowrap;
    font-weight: 800;
    display: none;
    transition: transform 300ms;
}
.button svg{
    transform: translateX(10px);
    transition: transform 0.5s;
}
.button:hover svg{
    transform: translateX(20px)
}
.button:hover{
    transform: scale(1.02);
}
.videoBackdrop{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.landingContent{
    color: #fff;
    text-align: center;
    z-index: 1;
    width: 90vw;
    padding: 5vw;
    padding-top: 10vw;
}
.landingContent > h1{
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
}
h1 .line span{
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.line{
    height: 35px;
    position: relative;
    overflow: hidden;
}
p .line{
    height: 30px;
}
.line span{
    position: absolute;
}  
.dash{
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--secondaryDark) ,var(--secondary), #fff);
    top: -5px;
    position: absolute;
}
.landingParagraph{
    margin-bottom: 20px;
    line-height: 1.8rem;
    font-weight: 500;
    opacity: .8;
    text-align: left;
    width: 100%;
    display: inline-block;
} 
.backdropGradient{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(185deg,#004d8bad, rgb(58 19 1 / 0%), #f45236);
}
.svgWave{
    width: 50px;
    float: left;
    margin: 20px 0;
}

.svgWave > path{
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
}
.swiperContainer{
    width: 100vw;
}
.swiperContainer > div{
    margin: 20px;
}
.landingBottomContainer{
    width: 100vw;
    z-index: 1;
    position: relative;
    margin-bottom: 55px;
    overflow:hidden;
}
.landingBottomContainer .line span{
    margin-left: 5vw;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: -10px;
}
.swiperSlide{
    background: #fff;
    border-radius: var(--borderRadiusDesktop);
    box-shadow: 0 4px 25px -7px #00000075;
    overflow: hidden;
    cursor: pointer;
    display: flex; 
    min-width: 250px; 
    height: 65px!important; 
    width: 200px!important;
    padding: 5px;
}
.swiperSlide:hover .eventDate{
    transform: scale(.94);
}
.swiperSlide:hover{
    transition: transform 300ms;
    transform: scale(.98)!important;
}
.eventName{
    font-weight: 500;
    font-size: 13px;
    color: var(--black);
}
.eventDate{
    font-size: 25px;
    font-weight: 900;
    background: var(--secondary);
    height: 100%;
    color: #fff;
    min-width: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 2px #e7e7e7;
    transition: transform 300ms;
    border-radius: 4px;
}
.eventDate span{
    display: block;
    text-align: center;
    font-size: 10px;
}
.bottomDetails{
    display: flex;
    position: absolute;
    bottom: 6px;
    opacity: .7;
}
.eventDetails{
    padding: 8px;
    color: var(--black);
}
.eventDetail{
    font-weight: 500;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 20px;
}
.eventDetail p{
    font-size: 10px;
    margin-top: 4px;
}

.slideArrowHolder{
    position: absolute;
    right: 6px;
    bottom: 6px;
    height: 22px;
    width: 22px;
    fill: var(--main);
}
section{
    min-height: 100vh;
}
.sliderNavigation{
    display: none;
    margin-left: 2rem;
}
.sliderTitle{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 12px!important;
}
.sliderNavigation div{
    margin: 1rem;
    cursor: pointer;
}
.sliderNavigation svg{
    height: 22px;
    width: 22px;
    fill: #fff;
}
.sliderNavigation div:first-of-type svg{
    transform: rotate(180deg);
}
@media (min-width: 900px) {

    .button{
        display: flex;
    }
    .svgWave{
        display: none;
    }
    .landingBottomContainer{
        width: 50%;
        position: absolute;
        bottom: 0;
        padding: 3rem 0; 
        margin-bottom: unset;
        right: 0;
    }
    .landingBottomContainer .line span{
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: 12px;
        opacity: .8;
    }
    .swiperContainer{
        width: 50vw;
    }
    .swiperContainer > div{
        margin: 0;
    }
    .swiperSlide{
        border-left:0;
        height: 85px!important;
    }
    .eventName{
        font-size:14px;
        line-height: 1.4rem;
    }
    .eventDetail,
    .eventDate > span{
        font-size: 11px;
    }
    .backdropGradient{
        background: linear-gradient(185deg,#004d8bad, rgb(58 19 1 / 0%), #000);
    }
    .landingContent{
        width: 75vw;
    }
    .dash{
        top: -7px;
    }
    .eventDetails{
        padding: 8px 10px ;
    }
}
@media (min-width: 600px) {
    .button{
        margin-left:0;
    }
    .landingContent > h1{
        font-size: 2.4rem;
    }
    .line {
        height: 3.3rem;
    }
    .socialMediaContainer{
        display: flex;
    }
    .sliderNavigation{
        display: flex;
    }
    .eventDate{
        font-size: 30px;
        min-width: 80px;
    }
  
}