.loaderLogo{
    height: 30px;
    margin-top: 8px;
    margin-left: 4px;
    opacity: 0;
    transform: skewX(15deg) translateY(15px) scaleY(2);
    position: absolute;
}
.landingLoader{
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.circle{
    border-radius: 100%;
    position: absolute;
    transform: scale(0);
    border: 1px solid rgb(212, 212, 212);
    opacity: .5;
}
.circle:nth-of-type(2){
    height: 25vw;
    width: 25vw; 
}
.circle:nth-of-type(3){
    height: 50vw;
    width: 50vw; 
}
.circle:nth-of-type(4){
    height: 80vw;
    width: 80vw; 

}.circle:nth-of-type(5){
    height: 115vw;
    width: 115vw; 
}




@media (min-width: 600px) {

    .loadingPic{
        display:none;
    }
    .circle:nth-of-type(2){
        height: 25vh;
        width: 25vh; 
    }
    .circle:nth-of-type(3){
        height: 50vh;
        width: 50vh; 
    }
    .circle:nth-of-type(4){
        height: 80vh;
        width: 80vh; 
    
    }.circle:nth-of-type(5){
        height: 115vh;
        width: 115vh; 
    }
    
    

}