.modalBackdrop{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(15, 17, 20, 0.8);
    z-index: 1000;
}
.modalContainer{
    display: flex;
    background: #fff;
    width: 80%;
    max-width: 800px;
    max-height: 305px;
    border-radius: var(--borderRadiusDesktop);
    overflow: hidden;
}

.modalImage{
    flex: 1;
    object-fit: cover;
}
.modalDetails{
    flex: 1;
    padding: 2rem;
    color: var(--black);
    position: relative;
}
.modalDetails p{
    margin-bottom: 2rem;
    font-size: 14px;
}
.modalDetails h2{
    margin-bottom: 5px;
}
.modalDetails input{
    padding: 1.1rem;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.modalDetails button{
    padding: 1rem;
    background: var(--main);
    border: none;
    color: #fff;
    border-radius: 3px;
    float: right;
    cursor: pointer;
    font-weight: 600;
    transition: 100ms transform ease-out;
}
.modalDetails button:hover{
    transform: scale(1.01);
}
.closeButton{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    transition: 200ms transform ease-out;
}
.closeButton:hover{
    transform: scale(1.1);
}