.reviewSection{
    position: relative;
    min-height: 80vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}
.sectionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: var(--black);
    flex-direction: column;
    position: relative;
}
.sectionContainer h2{
    flex: 1;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.sectionContainer p {
    line-height: 1.8rem;
    font-size: 14px;
}
.sectionContainer img{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
}
.reviewContainer{
    box-shadow: 0 5px 20px -10px #a7c0d1;
    border-radius: var(--borderRadiusDesktop);
    position: relative;
    padding: 1.5rem;
    padding-top: 3rem;
}
.reviewDetails{
    display: flex;
}
.reviewDetails p{
    font-family: 'Syne', sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    margin-right: 10px;
    margin-top: .5rem;
    color: var(--main);
    font-weight: 600!important;
}
.reviewContainer img{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    position: absolute;
    top: -32px;
}
.reviewContainer p{
    font-family: "Syne", sans-serif;
    font-weight: 500;
}

.sliderNavigation div{
    margin: 1rem 0;
    cursor: pointer;
}
.sliderNavigation div:last-of-type{
    margin-left: 2rem;
}
.sliderNavigation svg{
    height: 35px;
    width: 35px;
    transition: 200ms transform ease-out;
    fill: var(--black);
}
.sliderNavigation div:first-of-type svg{
    transform: rotate(180deg);
}
.swiperContainer{
    padding: 5rem 1.5rem!important;
    width: 100%;
}
.sliderNavigation{
    z-index: 2;
    display: none;
}


@media (min-width: 1000px){

    .sectionContainer{
        width: 90%;
        flex-direction: row;
    }
    .sectionContainer > img{
        margin-top: -15rem;
    }
    .sectionContainer h2{
        font-size: 35px;
        text-align: left;
    }
    .sliderNavigation{
       display: flex;
    }
    .reviewSection{
        justify-content: flex-end;
    }
    .swiperContainer{
        padding: 5rem!important;
    }
    .reviewContainer{
        box-shadow: 0 10px 40px -20px #8ab0ca;
    }
}